@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4" style="padding-top: 40px">
            <p class="fw-bold">Welcome to Deck Master!</p>
            <p>
                Are you looking for a fun and affordable way
                to pass the time? Look no further than our
                high-quality deck of cards! At only $3.55,
                this deck of cards is an excellent value.
                You won't find a better price anywhere else.
            <p>
                Come to play and earn money in a cool way.    
            </p>
        </div>
        <div class="form-group d-flex justify-content-center mt-3">
            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">
                <button class="btn btn-primary">Shop Now</button>
            </a>
        </div>
    </div>
</div>
