@model IEnumerable<Paypal.NET.ViewModels.UserVM>

@{
    ViewData["Title"] = "UserRole";
}

@*<h1>Email</h1>*@

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Users
            </th>
            <th>
                <a asp-action="Create">Create New User Role</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @Html.ActionLink(
                        "View Roles"
                        , "Detail"
                        , new { userName = item.Email })
                </td>
            </tr>
        }
    </tbody>
</table>
